.wd-modules,
.wd-modules * {
    border-radius: 0%;
    border: none;
    margin: 0px;
    padding: 0px;
}

.wd-modules {
    margin: 5px;
}

.wd-modules>li {
    background-color: lightgray;
    border: 1px solid gray !important;
    border-left: none !important;
}

.wd-modules>li>div {
    padding: 6px;
    border-left: 1px solid gray !important;
}

.wd-modules>li>ul>li {
    padding: 5px;
    border-top: 1px solid gray !important;
    border-left: 2px solid green;
}

.wd-modules>li {
    margin-bottom: 20px;
}



.button-op {
    margin-right: 5px;
    color: white;
    background-color: green;
    border-radius: 10%;
    font-size: 1.5rem;
    margin-left: 5px;

}

.module-op-text {
    margin-right: 10px;
    border-radius: 12%;
    background-color: white;
    border: 1px solid gray !important;
    

}